
/* ==========================================================================
     // BOILERPLATE CSS
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

/* ==========================================================================
      // CUSTOM CSS
========================================================================== */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #131313;
  background-image: url("https://josealbertolab.com/assets/images/labBerlinCorrected.jpeg");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Nimbussanl bol", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  -o-object-fit: contain;
  object-fit: contain;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 200px;
  line-height: 200px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://josealbertolab.com/assets/images/labBerlinCorrected.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nimbussanl bol", sans-serif;
  color: #f0f0f0;
  font-weight: 700;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.contentwrapper {
  position: static;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: auto;
  max-height: none;
  max-width: 1182px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.maintitle {
  margin-top: 0px;
  padding-top: 3px;
  font-family: "Nimbussanl bol", sans-serif;
}

.brand-ja {
  overflow: visible;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Nimbussanl bol", sans-serif;
  color: #f0f0f0;
  font-size: 104px;
  line-height: 104px;
  font-weight: 700;
  letter-spacing: -3px;
}

.textwrapper {
  width: 400px;
  height: auto;
  margin-top: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-family: Nimbusmono, sans-serif;
  font-weight: 400;
}

.brandlabwrapper {
  width: auto;
  margin-top: -50px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  font-family: "Nimbussanl reg", sans-serif;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

.menuwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 68px;
  grid-row-gap: 68px;
  font-family: Nimbusmono, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}

.footerwrapper {
  margin-bottom: 20px;
}

.menulink {
  font-family: Nimbusmono, sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 4px;
  text-decoration: none;
}

.instagramlink.menulink {
  text-decoration: none;
}

.instagramlink.menulink:hover {
  font-weight: 700;
}

.substacklink.menulink:hover {
  font-weight: 700;
}

.linkedinlink.menulink:hover {
  font-weight: 700;
}

.sayhilink.menulink {
  font-weight: 700;
}

.sayhilink.menulink:hover {
  color: #393530;
  font-weight: 700;
}

.brand_lab {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Nimbussanl reg", sans-serif;
  color: #f0f0f0;
  font-size: 140px;
  line-height: 100%;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}

.footertext {
  margin-bottom: 0px;
  font-family: Nimbusmono, sans-serif;
  line-height: 140%;
  font-weight: 400;
  text-align: center;
}

.texttitle {
  margin-bottom: 15px;
  font-family: Nimbusmono, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.gradients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  max-height: none;
  margin-bottom: 0px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(173, 139, 51, 0)),
    color-stop(75%, rgba(56, 47, 24, 0.57)),
    color-stop(94%, #0b0b0d)
  );
  background-image: linear-gradient(
    180deg,
    rgba(173, 139, 51, 0),
    rgba(56, 47, 24, 0.57) 75%,
    #0b0b0d 94%
  );
}

.paragraph {
  margin-bottom: 10px;
  font-family: Nimbusmono, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}


.body-4 {
  max-height: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: url("https://josealbertolab.com/assets/images/labBerlinCorrected.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  overflow: hidden;
  margin-top: 66px;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mobilebg {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: url("https://josealbertolab.com/assets/images/labBerlinCorrected.jpeg");
  background-position: 8% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 1440px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Nimbussanl bol", sans-serif;
    color: #f0f0f0;
    font-size: 104px;
    line-height: 104px;
    font-weight: 700;
  }

  p {
    font-family: Nimbusmono, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
  }

  .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-image: url("https://josealbertolab.com/assets/images/labBerlinCorrected.jpeg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
  }

  .contentwrapper {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .footerwrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menulink {
    font-family: Nimbusmono, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .menulink:hover {
    font-weight: 700;
  }

  .sayhilink {
    font-family: Nimbusmono, sans-serif;
    font-weight: 700;
  }

  .sayhilink.menulink:hover {
    color: #393530;
  }

  .gradients {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(173, 139, 51, 0)),
      color-stop(75%, rgba(56, 47, 24, 0.57)),
      color-stop(94%, #0b0b0d)
    );
    background-image: linear-gradient(
      180deg,
      rgba(173, 139, 51, 0),
      rgba(56, 47, 24, 0.57) 75%,
      #0b0b0d 94%
    );
  }

  .header {
    overflow: hidden;
  }

  .content {
    margin-bottom: 0px;
  }

  .mobilebg {
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    margin-right: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .div-block-2 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@media screen and (max-width: 991px) {
  .contentwrapper {
    overflow: hidden;
    width: auto;
    max-height: none;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .maintitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .brand-ja {
    width: 400px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 87px;
    line-height: 100%;
    font-style: normal;
    white-space: normal;
  }

  .textwrapper {
    width: 403px;
    min-height: 428px;
  }

  .brandlabwrapper {
    width: auto;
    margin-left: 0px;
  }

  .menuwrapper {
    margin-top: -8px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .footerwrapper {
    margin-top: 20px;
  }

  .instagramlink.menulink {
    font-size: 22px;
    letter-spacing: 0px;
  }

  .substacklink.menulink {
    letter-spacing: 0px;
  }

  .linkedinlink.menulink {
    letter-spacing: 0px;
  }

  .brand_lab {
    text-align: right;
  }

  .texttitle {
    line-height: 100%;
  }

  .gradients {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph {
    line-height: 100%;
  }

  .body-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contentwrapper {
    max-width: none;
    min-width: 0px;
  }

  .brand-ja {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .brandlabwrapper {
    min-width: auto;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .menuwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    grid-auto-flow: row;
    grid-auto-columns: minmax(125px, auto);
    grid-column-gap: 4vw;
    grid-row-gap: 18px;
    grid-template-areas: ".";
    grid-template-columns: repeat(auto-fit, 113px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-size: 18px;
  }

  .instagramlink.menulink {
    font-size: 18px;
  }

  .brand_lab {
    width: auto;
    max-width: none;
    font-size: 80px;
  }

  .footertext {
    margin-right: auto;
    margin-left: auto;
  }

  .texttitle {
    font-size: 17px;
  }

  .gradients {
    position: static;
    overflow: hidden;
    max-width: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .paragraph {
    font-size: 12px;
  }

  .body-2 {
    background-position: 40% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 479px) {
  .contentwrapper {
    display: block;
    max-width: none;
    min-width: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .maintitle {
    display: block;
  }

  .brand-ja {
    width: auto;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .textwrapper {
    overflow: visible;
    width: auto;
    height: auto;
    max-width: 400px;
  }

  .menuwrapper {
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    grid-column-gap: 0px;
    grid-row-gap: 4px;
    font-size: 18px;
  }

  .instagramlink.menulink {
    font-size: 18px;
  }

  .brand_lab {
    font-size: 80px;
    line-height: 100%;
  }

  .footertext {
    font-size: 8px;
  }

  .texttitle {
    font-size: 17px;
    line-height: 20px;
  }

  .gradients {
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph {
    font-size: 12px;
    line-height: 100%;
  }

  .body-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .div-block {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -8;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .image {
    display: block;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: none;
    min-height: 100%;
  }

  .bg {
    display: block;
    background-position: 8% 50%;
  }
}

@font-face {
  font-family: "Nimbussanl reg";
  src: url("./assets/fonts/NimbusSanL-Reg.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbussanl bol";
  src: url("./assets/fonts/NimbusSanL-Bol.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbusmono";
  src: url("./assets/fonts/nimbusmono-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nimbusmono";
  src: url("./assets/fonts/nimbusmono-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}